aside.menu-area{
  background-color:var(--color-definir3) ;
  box-shadow: 
  2px 0 10px 0 rgba(0,110,109,0.12),
  2px 0 15px 0 rgba(0,110,109,0.09);
}

.menu a {
  display:block;
  text-decoration:none;
  color:#fff;
  font-weight: 300;
  padding:15px;
 
}
.menu a:hover {
  background: 
  linear-gradient(200deg,rgb(0,110,109) 10%,rgb(0,110,109) 10%,rgb(214,227,220) 200%);
  border-right: 2px solid rgb(0,110,109);
  border:1px solid rgb(214,227,220);
  border-radius: 5px;
  margin:auto;
  width: 99%;
}